<nav>
    <h1>Addressbook</h1>
    <ul>
        <li><a href="/">Mainpage</a></li>
        <li><a href="/contacts">View Contacts</a></li>
        <li><a href="/edit">Edit Contacts</a></li>
        <li><a href="/users">Postman Mode</a></li>
    </ul>
</nav>