<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1> Introduction </h1>
            <ul>
                <p>There are 4 pages. And you can pass between these pages with links at placed top right.</p>
                <li>
                    <p>With Mainpage Link, you can back to the Introduction Page.</p>
                </li>
                <li>
                    <p>If you want to look at the people in the addressbook already added, you should click the View Contacts Link.</p>

                </li>
                <li>
                    <p>If you want to add a new person or update the information belongs a person, you can click the Edit Contacts Link</p>
                </li>
                <li>
                    <p>If you have set up the Application of Postman in your computer, you can edit with Postman Mode Link</p>
                </li>
                <p>In postman mode, you can work with "GET", "POST", "PATCH" and "DELETE".</p>
            </ul>
    </section>
</body>
</html>